.ui--container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.ui--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.5; */
  width: 80%;
  height: 75%;
  border-radius: 8px;
  background-color: green;
}

.ui--game-preview {
  width: 30rem;
  height: 25rem;
  border-radius: 8px;
  background-color: blue;
}
